{{define "footer"}}
<footer class="text-textMuted">
  &copy; 2024
  <a
    href="https://github.com/0ceanSlim/badger"
    class="text-purple-400 hover:text-purple-600"
    >badger</a
  >, made with 💜 by
  <a
    href="https://njump.me/npub1zmc6qyqdfnllhnzzxr5wpepfpnzcf8q6m3jdveflmgruqvd3qa9sjv7f60"
    class="text-purple-400 hover:text-purple-600"
    >OceanSlim</a
  >
  <div>
    I did this for free. Consider buying me a ☕ coffee <br />
    ⚡OceanSlim@getalby.com<br />
    <a
      href="https://github.com/0ceanSlim/badger/issues"
      class="text-red-400 hover:text-red-600"
      >Feedback Encouraged!</a
    >
  </div>
</footer>
{{end}}
